
<li id="<%= feed_item.id %>">
<% if Time.now > feed_item.post_date %>
	<div id="feed" >
	  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
	  <span class="user">
	    <%= link_to feed_item.user.name, feed_item.user %>
	  </span>
	  <span class="topic">Topic: <%= feed_item.topic %></span>
	  <span class="content" ><%= feed_item.content %></span>
	  <span class="timestamp">
	    Posted <%= time_ago_in_words(feed_item.created_at) %> ago concerning <%= feed_item.post_date %>
	  </span>
	</div>
<% else %>
	<div id="feed" style="background-color: #e8e8e8    ;">
	  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
	  <span class="user">
	    <%= link_to feed_item.user.name, feed_item.user %>
	  </span>

	  <span class="topic">Topic: <%= feed_item.topic %></span>
	  <span class="content">The Content will be available on: <%= feed_item.post_date %></span>
	  <span class="timestamp">
	    Posted <%= time_ago_in_words(feed_item.created_at) %> ago concerning <%= feed_item.post_date %>
	  </span>
	</div>
  <% end %>
</li>
