

      <br>
 			<div class="col-xs-12 col-md-2" >
			  <h4>The Wealth Formula:</h4>
				  <div class="btn-group-vertical">

					<a class="btn btn-success " data-toggle="modal" data-target=".bs-example1-modal-lg">Assets</a>
					<%= render 'shared/help_assets'%>
					<a class="btn btn-warning " data-toggle="modal" data-target=".bs-example2-modal-lg">-Debt</a>
					<%= render 'shared/help_debt'%>
          <a class="btn " data-toggle="modal">=</a>
					<a class="btn btn-success " data-toggle="modal" data-target=".bs-example3-modal-lg">Income</a>
					<%= render 'shared/help_income'%>
					<a class="btn btn-warning " data-toggle="modal" data-target=".bs-example4-modal-lg">-Expenses</a>
					<%= render 'shared/help_expenses'%>
          <a class="btn " data-toggle="modal">=</a>
					<a class="btn btn-primary" data-toggle="modal" data-target=".bs-example5-modal-lg"><strong>Wealth</strong></a>
					<%= render 'shared/help_wealth'%>
				  </div>

			</div>
