<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="field">  
    <%= f.text_field :topic, placeholder: "A Future Topic..."%>
   </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose something about the Future... Try to predict something or surprize someone!" %>
  </div>
     
	<div class="field" >
	    <%= f.text_field :post_date, 'data-behaviour' => 'datepicker', placeholder: "Future Post Date"%>
	</div>
	
	<script type="text/javascript">
	  $('[data-behaviour~=datepicker]').datepicker({
	  	 	weekStart: 1,
			autoclose: true,
			format:'yyyy-mm-dd' ,
			todayHighlight: true   
	  });
	</script>
  
  <%= f.submit "Post", class: "btn btn-large btn-success" %>
<% end %>

